<div class="start-container">
    <div class="title-container">
        <h1>Outliner</h1>
        <div class="subtitle">Read articles without distraction</div>
    </div>
    <div class="form-container">
        <form class="form" [formGroup]="form">
            <label for="search">Enter article url</label>
            <input autofocus placeholder="" id="search" formControlName="search">
        </form>
        <button (click)="generateOutline()">
            Outline!
        </button>
    </div>
    <div class="example">See an example ›</div>
</div>