.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 99;
}

.loading-bars {
    flex-direction: column;
    display: flex;

}

.lines {
    width: 100%;
}

.line {
    width: 0;
    height: 10px;
    background-color: gray;
    margin-bottom: 5px;
}

.line-1 {
    animation: progressBar1 2s ease-in;
    animation-iteration-count: infinite;
}

.line-2 {
    animation: progressBar2 2s ease-in;
    animation-iteration-count: infinite;
}

.line-3 {
    animation: progressBar3 2s ease-in;
    animation-iteration-count: infinite;
}

.loading-text {
    text-transform: uppercase;
    color: gray;
    animation: blink 1s ease-in;
    animation-iteration-count: infinite;
}

@keyframes progressBar1 { 
    0% { width: 0; margin-left: 0; }
    33% { width: 100%; margin-left: 0; }
    50% { width: 100%; margin-left: 0; }
    82% { width: 0; margin-left: 100%; }
    100% { width: 0; margin-left: 100%; }
}

@keyframes progressBar2 { 
    0% { width: 0; margin-left: 0; }
    8% { width: 0; margin-left: 0; }
    41% { width: 100%; margin-left: 0; }
    58% { width: 100%; margin-left: 0; }
    90% { width: 0; margin-left: 100%; }
    100% { width: 0; margin-left: 100%; }
}

@keyframes progressBar3 { 
    0% { width: 0; margin-left: 0; }
    17% { width: 0; margin-left: 0; }
    50% { width: 100%; margin-left: 0; }
    66% { width: 100%; margin-left: 0; }
    100% { width: 0; margin-left: 100%; }
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
