h1 {
    color: #444443;
}

.article-container {
    max-width: 650px;
    margin: auto;
    font-size: 22px;
    color: #444443;
}

.article-header {
    display: flex;
    justify-content: space-between;
}

.action-btn {
    border-radius: 15px;
    background-color: #f5f5f5f5;
    transition: 0.2s;
    border: 2px solid transparent;
    color: #7e8484;
    text-decoration: none !important;
    text-shadow: none !important;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 14px;
    margin-left: 5px;
}

.action-btn:hover {
    border: 2px solid rgba(36, 36, 36, 0.5);
}

.attribution .publication {
    font-size: 0.6em;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    color: #7e8484;
}

.attribution .publication a {
    text-decoration: none !important;
}