h1 {
    color: #444443;
}

.article-container {
    max-width: 650px;
    margin: auto;
    font-size: 22px;
    color: #444443;
}

.article-header {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
}

.action-btn {
    border-radius: 15px;
    background-color: #f5f5f5f5;
    transition: 0.2s;
    border: 2px solid transparent;
    color: #7e8484;
    text-decoration: none !important;
    text-shadow: none !important;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 14px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
}

.btn-icon {
    height: 20px;
    margin-right: 5px;
}

.action-btn:hover {
    border: 2px solid rgba(36, 36, 36, 0.5);
}

.attribution .publication {
    font-size: 0.6em;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    color: #7e8484;
}

.attribution .publication a {
    text-decoration: none !important;
}

.article-footer {
    display: flex;
    justify-content: right;
}

.url-button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-variant: small-caps;
    background-color: #25d084;
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 700;
}

.url-button:hover {
    opacity: 0.8;
}

.url-container {
    background-color: #ededed;
    padding: 10px 5px;
    border-radius: 5px;

}

.url-copy {
    background-color: #ededed;
    border: none !important;
    color: gray;
    padding-left: 8px;
    font-size: 14px;
}

.author-container {
    font-size: 0.6em;
    letter-spacing: 0.05em;
}

.author-elem {
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

.date-elem {
    text-transform: uppercase;
    color: #7e8484;
}
