<div *ngIf="page" class="article-container">
    <div class="article-header">
        <div class="attribution">
            <span class="publication">
                Publisher 
                <a [href]="page.longUrl" target="_blank">›</a>
            </span>
        </div>
        <div class="actions">
            <button class="action-btn" (click)="copyMd()">
                <img class="btn-icon" src ="../../../assets/md.svg"/>
                MD
            </button>
            <button class="action-btn" (click)="loadHypothesis()">
                <img class="btn-icon" src ="../../../assets/hypothesis.svg"/>
                Annotations
            </button>
        </div>
    </div>
    <h1>{{ page.title }}</h1>
    <div>
        <span class="author">{{ page.author }}</span> at <span class="author">{{ page.date }}</span>
    </div>
    <markdown class="markdown" ngPreserveWhitespaces>
        {{ page.content }}
    </markdown>
</div>